### Importação dos dados

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [16]:
faturamento_loja1 = round(sum(loja['Preço']), 2)
faturamento_loja2 = round(sum(loja2['Preço']), 2)
faturamento_loja3 = round(sum(loja3['Preço']), 2)
faturamento_loja4 = round(sum(loja4['Preço']), 2)

In [17]:
print(f"Faturamento Loja 1: R$ {faturamento_loja1}")
print(f"Faturamento Loja 2: R$ {faturamento_loja2}")
print(f"Faturamento Loja 3: R$ {faturamento_loja3}")
print(f"Faturamento Loja 4: R$ {faturamento_loja4}")

Faturamento Loja 1: R$ 1534509.12
Faturamento Loja 2: R$ 1488459.06
Faturamento Loja 3: R$ 1464025.03
Faturamento Loja 4: R$ 1384497.58

# 2. Vendas por Categoria

In [13]:
categoria_loja1 = loja['Categoria do Produto'].value_counts()
categoria_loja2 = loja2['Categoria do Produto'].value_counts()
categoria_loja3 = loja3['Categoria do Produto'].value_counts()
categoria_loja4 = loja4['Categoria do Produto'].value_counts()

In [6]:
print(f'Categoria mais vendida Loja 1: {categoria_loja1.index[0]} com {categoria_loja1.values[0]} vendas')
print(f'Categoria mais vendida Loja 2: {categoria_loja2.index[0]} com {categoria_loja2.values[0]} vendas')
print(f'Categoria mais vendida Loja 3: {categoria_loja3.index[0]} com {categoria_loja3.values[0]} vendas')
print(f'Categoria mais vendida Loja 4: {categoria_loja4.index[0]} com {categoria_loja4.values[0]} vendas')

Categoria mais vendida Loja 1: moveis com 465 vendas
Categoria mais vendida Loja 2: moveis com 442 vendas
Categoria mais vendida Loja 3: moveis com 499 vendas
Categoria mais vendida Loja 4: moveis com 480 vendas

# 3. Média de Avaliação das Lojas

In [11]:
media_loja1 = round(sum(loja['Avaliação da compra']) / len(loja['Avaliação da compra']), 2)
media_loja2 = round(sum(loja2['Avaliação da compra']) / len(loja2['Avaliação da compra']), 2)
media_loja3 = round(sum(loja3['Avaliação da compra']) / len(loja3['Avaliação da compra']), 2)
media_loja4 = round(sum(loja4['Avaliação da compra']) / len(loja4['Avaliação da compra']), 2)

In [12]:
print(f'Média de avaliação Loja 1: {media_loja1}')
print(f'Média de avaliação Loja 2: {media_loja2}')
print(f'Média de avaliação Loja 3: {media_loja3}')
print(f'Média de avaliação Loja 4: {media_loja4}')

Média de avaliação Loja 1: 3.98
Média de avaliação Loja 2: 4.04
Média de avaliação Loja 3: 4.05
Média de avaliação Loja 4: 4.0

# 4. Produtos Mais e Menos Vendidos

In [24]:
produto_mais_vendido_loja1 = loja['Produto'].value_counts().index[0]
produto_menos_vendido_loja1 = loja['Produto'].value_counts().index[-1]
produto_mais_vendido_loja2 = loja2['Produto'].value_counts().index[0]
produto_menos_vendido_loja2 = loja2['Produto'].value_counts().index[-1]
produto_mais_vendido_loja3 = loja3['Produto'].value_counts().index[0]
produto_menos_vendido_loja3 = loja3['Produto'].value_counts().index[-1]
produto_mais_vendido_loja4 = loja4['Produto'].value_counts().index[0]
produto_menos_vendido_loja4 = loja4['Produto'].value_counts().index[-1]

In [25]:
print(f'Produto mais vendido Loja 1: {produto_mais_vendido_loja1} com {loja["Produto"].value_counts().values[0]} vendas')
print(f'Produto menos vendido Loja 1: {produto_menos_vendido_loja1} com {loja["Produto"].value_counts().values[-1]} vendas')
print(f'Produto mais vendido Loja 2: {produto_mais_vendido_loja2} com {loja2["Produto"].value_counts().values[0]} vendas')
print(f'Produto menos vendido Loja 2: {produto_menos_vendido_loja2} com {loja2["Produto"].value_counts().values[-1]} vendas')
print(f'Produto mais vendido Loja 3: {produto_mais_vendido_loja3} com {loja3["Produto"].value_counts().values[0]} vendas')
print(f'Produto menos vendido Loja 3: {produto_menos_vendido_loja3} com {loja3["Produto"].value_counts().values[-1]} vendas')
print(f'Produto mais vendido Loja 4: {produto_mais_vendido_loja4} com {loja4["Produto"].value_counts().values[0]} vendas')
print(f'Produto menos vendido Loja 4: {produto_menos_vendido_loja4} com {loja4["Produto"].value_counts().values[-1]} vendas')

Produto mais vendido Loja 1: Micro-ondas com 60 vendas
Produto menos vendido Loja 1: Celular ABXY com 33 vendas
Produto mais vendido Loja 2: Iniciando em programação com 65 vendas
Produto menos vendido Loja 2: Jogo de tabuleiro com 32 vendas
Produto mais vendido Loja 3: Kit banquetas com 57 vendas
Produto menos vendido Loja 3: Blocos de montar com 35 vendas
Produto mais vendido Loja 4: Cama box com 62 vendas
Produto menos vendido Loja 4: Guitarra com 33 vendas

# 5. Frete Médio por Loja